@import "./_GlobalVariables.scss";

.headers {
    width: max-content;
    h1 {
        transition: 0.15s ease-in-out;
    }
    &:hover h1 {
        color: $red;
    }
    &:hover h3 {
        opacity: 1;
    }
    &:hover .cevron-right {
        opacity: 1;
    }
    h3,
    .cevron-right {
        opacity: 0;
        transition: all 0.15s ease-in-out;
    }
}

.banner-box {
    position: relative;
    .banner-texts {
        position: absolute;
        left: 15%;
        top: 40%;
        transform: translate(-15%, -40%);
    }
    button {
        background-color: $red;
    }
}
